h1{
    color: darkblue;
    text-align: center;
    text-shadow: 7px 10px black;
}
body{
    background-image: url("img/city.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 250px;
}
img{
    border-radius: 50%;
}
p{
    color: red; /* set text color to red */
    border: 1px solid white;
    font-style: italic;
    
}
div{
    color: green;
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}
