h1{
    color: blue;
    text-align: center;
}
body {
    background-image:url("img_baba.jpg");
}

img {
    width: 250px;
}
img{
    border-radius: 50%;
}
p{
    color: red; /* set text color to red */
}